/* Header and Nav */

header {
    flex: 0 1 auto;
    background-color: #fff;
    color: #444;
    border-bottom: 1px solid rgb(2, 48, 71, 0.1);
}

nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.left-nav-container {
    padding: 0 1em;
}

.left-nav-container p {
    margin: 0;
    width: 100%;
    text-align: center;
}

.right-nav-container {
    display: flex;
    gap: 1em;
    padding: 0 1em;
    justify-content: center;
    align-items: center;
}

.right-nav-container a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    aspect-ratio: 1/1;
    border-radius: 0.5em;
    color: var(--slate);
    transition: background-color 0.3s linear, color 0.3s linear;
}

.right-nav-container a:hover {
    background-color: var(--slate);
    color: var(--whiteFont);
}

.right-nav-container i {
    font-size: 1.8rem;
}

/*  Main */
main {
    flex: 1 1 auto;
}

/* Section banner */
.section-banner {
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 60rem;
    max-width: 1800px;
    /* margin-top: 2rem; */
}

.banner-mask {
    position: absolute;
    right: -40rem;
    bottom: -30rem;
    z-index: -1;
    rotate: -40deg;
    height: 60rem;
    width: 100%;
    background-color: var(--lightBlue);
}

.banner-mask-2 {
    position: absolute;
    right: 40rem;
    bottom: 30rem;
    z-index: -1;
    rotate: -40deg;
    height: 60rem;
    width: 100%;
    background-color: var(--lightOrange);
}

.section-banner h1 {
    font-size: 5rem;
    font-weight: lighter;
    text-align: center;
}

.section-banner p {
    font-size: 1.2rem;
}

/* Section Project Cards */
.section-cards {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 1400px;
    margin: 5rem auto;
    min-height: 20rem;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    margin: 0 auto;
    max-width: 1000px;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    width: 20rem;
    height: 30rem;
    overflow: hidden;
    border-radius: 0.3em;
    box-shadow: 0 0 1em 0 rgb(2, 48, 71, 0.2);
}

.media {
    flex: 1 1 100%;
    overflow: hidden;
}

.media img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card article {
    position: relative;
    padding: 0 1em 1em 1em;
    flex: 1 1 100%;
}

.card article h3 {
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    border-bottom: 1px solid rgb(2, 48, 71, 0.1);
    font-weight: normal;
    padding: 1em 0.5em;
    line-height: 1;
}

.card article > p {
    margin: 1em 0 2em 0;
    padding: 0 0.5em;
}

.controls {
    position: absolute;
    bottom: 0;
    left:0;
    right: 0;
    background-color: var(--lightBlue);
    padding: 0.8em 1.5em;
    text-decoration: none;
    color: var(--slate);
    transition: background-color 0.5s linear, color 0.5s linear;
}

.controls:hover {
    background-color: var(--slate);
    color: var(--whiteFont);
}

article:hover  a {
    background-color: var(--darkBlue);
    color: var(--whiteFont);
}





/* Footer */

footer {
    flex: 0 1 auto;
    padding: 1em;
    background-color: var(--slate);
    color: #eee;
}

footer p {
    display: block;
    text-align: center;
}


@media screen and (max-width: 600px) {
    html {
        font: 13px/1.5 Lato, sans-serif;
    }
    
    .section-banner h1, p {
        text-align: center;
    }

    .section-banner p {
        max-width: 80%;
        margin-top: 2rem;
    }

    .card article h3 {
        justify-content: center;
        gap: 1em;
    }

    .controls {
        text-align: center;
    }

    .left-nav-container p {
        display: none;
    }

    .left-nav-container {
        padding: 0.5em 0;
    }

    .section-banner h1 {
        font-size: 3.2rem;
        font-weight: lighter;
        text-align: center;
    }
    
    .section-banner p {
        font-size: 1rem;
    }

    .cards-container {
        gap: 10em;
    }
}
