* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    padding: 2em;
    height: 100vh;
    position: relative;
}

html {
    font: 14px/1.5 Lato, sans-serif;
    color: rgb(2, 48, 71);
}

h1 {
    font-weight: lighter;
}

body > button {
    border: none;
    background-color: inherit;
    font-size: 1.2rem;
    color: #888;
    transition: color 0.5s linear, opacity 0.5s linear;
    opacity: 0;
}

body > button:hover {
    cursor: pointer;
    color: #00274f;

}

main {
    max-width: 1200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.score-container {
    max-width: 20rem;
    color: rgb(2, 48, 71, 0.8);
    font-weight: 100;
    margin-top: 2em;
    width: 100%;
    box-shadow: 0 0 1em 0 rgb(2, 48, 71, 0.3);
    border-radius: 0.3em;
    overflow: hidden;
    transition: max-width 0.7s linear;
}

.score-container h2 {
    position: relative;
    border-bottom: 1px solid rgb(2, 48, 71, 0.1);
    padding: 0.5em 1em;
    display: flex;
    justify-content: space-between;
    font-size: 1.3rem;
    font-weight: lighter;
    transition: background-color 0.5s linear;
}

#total-games-count {
    transition: opacity 0.5s linear;
}


.content {
    background-color: #fff;
    max-width: 30rem;
    width: 100%;
    margin: 2em 0;
}

.game-container {
    display: flex;
    flex-direction: column;
    max-width: 20rem;
    width: 100%;
    margin: 0 auto;
    gap: 1em;
    padding: 1em;
    box-shadow: 0 0 1em 0 rgb(2, 48, 71, 0.3);
    border-radius: 0.5em;
    background-color: rgb(2, 48, 71, 0.8);
    transition: max-width 0.7s linear;
}

.game-container div {
    display: flex;
    flex-basis: 100%;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

div button {
    flex: 1 1 100%;
    max-width: 15rem;
    aspect-ratio: 1/1;
    background-color: #fff;
    border: none;
    border-radius: 0.3rem;
    font-size: 1.5rem;
    transition: background-color 0.3s linear;
}

div button:hover {
    background-color: #ddd;
    cursor: pointer;
}

.navigation-buttons .button-start-again {
    padding: 0.5em 1em;
    background-color: rgb(142, 202, 230);
    aspect-ratio: auto;
    transition: opacity 0.5s linear, background-color 0.3s linear, color 0.3s linear;
    opacity: 0;
    color: #444;
}

.navigation-buttons .button-start-again:hover {
    background-color: rgb(33, 158, 188);
    color: #eee;
}

.info-container {
    max-width: 20rem;
    width: 100%;
    transition: max-width 0.7s linear;
    overflow: hidden;
    box-shadow: 0 0 1em 0 rgb(2, 48, 71, 0.3);
    border-radius: 0.3em;
    margin-top: 2em;
}

#info-board {
    padding: 0.5em 1em;
    background-color: #fff;
    width: 100%;
    display: block;
    text-align: center;
    transition: max-width 2s linear;
}

#total-games {
    background-color: rgb(2, 48, 71, 0.8);
    color: #eee;
}


@media screen and (max-width: 600px) {
    .game-container {
        max-width: 100%;
    }

    .info-container {
        max-width: 30rem;
    }

    .score-container {
        max-width: 30rem;
    }
}
