body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

html {
    font: 14px/1.5 Lato, sans-serif;
    color: #444;
}

header {
    flex: 0 1 auto;
    background-color: steelblue;
    color: #eee;
}

nav {
    width: 100%;
}

h2 {
    padding: 0 1em;
}

main {
    flex: 1 1 auto;
    padding: 1em;
}

footer {
    flex: 0 1 auto;
    padding: 1em;
    background-color: steelblue;
    color: #eee;
}

footer p {
    display: block;
    text-align: center;
}

